body{
  margin: 0;
  background-color: #F7F7F7;
  font-family: 'Noto Sans', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h3{
  font-family: 'Montserrat', sans-serif;
}
