body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

h2{
  font-family: 'Open Sans Condensed', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

#button-js{
  border: none;
  color: white;
  background-color: #3C3C3A;
  font-size: 15px;
}

#button-js:hover{
 border-bottom: 5px solid #595954;
}

#button-js-footer{
  border: none;
  color: white;
  background-color: #3C3C3A;
  font-size: 15px;
  opacity: 0.6;
}

#button-js-footer:hover{
 opacity: 1;
}
