#footer-border{
  background-color: #3C3C3A;
  display: flex;
  justify-content: space-between;
}

#content-logo-footer{
  color: white;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 18px;
}

#top-footer{
  color: white;
  margin-top: 21px;
  margin-right: 20px;
}

#footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 60px;
   width: 100%;
   background: #3C3C3A;
}
