#header-row{
  height: 500px;
  display: flex;
  justify-content: row;
}

#header-row-half{
  border-bottom-right-radius: 1%;
  border-bottom-left-radius: 1%;
  background-color: #91ada1;
  height: 450px;
  width: 100%;
}

#write-header{
  height: 650px;
  width: 500px;
  margin-top: 50px;
  margin-left: 100px;
}

#logo-header{
  margin-bottom: -5px;
  margin-left: 100px;
  height: 500px;
  border-radius: 20%;
}
