#header-row{
  height: 500px;
  display: flex;
  justify-content: row;
}

#header-row-half{
  border-bottom-right-radius: 2%;
  border-bottom-left-radius: 2%;
  width: 50%;
  height: 100%;
  background-color: #8896AB;
}

#write-header{
  height: 700px;
  width: 550px;
  margin-top: 150px;
  margin-left: 50px;
  border-radius: 2%;
}

#logo-header{
  margin-top: 70px;
  margin-left: 100px;
  height: 400px;
  width: 35%;
}
