#header-row{
  display: flex;
}

#header-row-half{
  background-color: #3C3C3A;
  height: 45vw;
  width: 50vw;
  display: flex;
}

#header-btn{
  margin-left: 5vw;
  margin-top: 12vw;
  line-height: 40pt;
}

.header-title-btn{
  font-family: 'Open Sans Condensed', sans-serif;
}

#es-header{
  height: 40vw;
  width: 35vw;
  margin-top: 2.5vw;
  margin-left: 5vw;
}

#logo-header{
  margin-top: 2vw;
  margin-left: 6vw;
  height: 30vw;
}

#header-block-logo{
  width: 40vw;
  display: flex;
  margin-top: 5vw;
  height: 35vw;
  background-color: #e3e4e5;
  z-index:-1;
}
