#title-top-page{
  margin-top: 100px;
  margin-bottom: 20px;
}

#about-top-page{
  margin-left: 650px;
  margin-right: 200px;
  padding: 20px;
}

#about-line{
  color: #9ea2a8;
  margin-right: 30px;
}
