#title-top-page{
  margin-top: 5vw;
  margin-bottom: 8vw;
}

#about-top-page{
  margin-top: 7vw;
  margin-left: calc(100vw - 55vw);
  padding: 1.5vw;
  background-color: #fcffa5;
  width: 52vw;
}

#block-about{
  display: flex;
}

#about-line{
  margin-right: -1.4vw;
  margin-left: -10vw;
  border: 2px solid #3C3C3A;
}

#title-about{
  margin-left: -7.5vw;
}

#text-about{
  width: 48vw;
  margin-left: 2vw;
}
