#article-block{
  margin-left: 12vw;
  margin-right: 0vw;
  background-color: #fcffa5;
  z-index:-1;
  height: 35vw;
  margin-bottom: 12vw;
}

#title-articles{
  margin-left: -5.5vw;
}

#line-articles{
  border: 2px solid #3C3C3A;
  margin-left: -15vw;
  width: 50vw;
}

#article-photo{
  display: flex;
}

#article-2{
  height: 30vw;
  width: 50vw;
  margin-top: 2vw;
  margin-left: -3vw;
}

#text-article-2{
  margin-left: 0.5vw;
  margin-top: 23.5vw;
}

#article-1{
  height: 40vw;
  width: 35vw;
  margin-top: -23vw;
  margin-left: -35vw;
}

#text-article-1{
  margin-top: 18vw;
  margin-left: -31.5vw;
}
