#articles{
  margin-left: 12vw;
  margin-right: 0vw;
  background-color: #fcffa5;
  z-index:-1;
  height: 36.5vw;
  margin-bottom: 15vw;
}

#title-articles{
  margin-left: -5.5vw;
}

#line-articles{
  border: 2px solid #3C3C3A;
  margin-left: -15vw;
  width: 50vw;
}

#article-photo{
  display: flex;
}

#article-2{
  height: 30vw;
  width: 50vw;
  margin-top: 4vw;
  margin-left: -8vw;
  margin-bottom: 7vw;
}

#text-article-2{
  margin-left: 0.5vw;
  margin-top: 24.5vw;
  width: 25vw;
}

#article-1{
  height: 38vw;
  width: 35vw;
  margin-top: -21vw;
  margin-left: -22vw;
}

#text-article-1{
  margin-top: 18vw;
  margin-left: -25.5vw;
  width: 25vw;
}
