#footer-border{
  background-color: #3C3C3A;
  display: flex;
  margin-left: -12vw;
  justify-content: space-between;
}

#content-logo-footer{
  color: white;
  margin-top: 1.2vw;
  margin-left: 1vw;
  font-size: 18px;
}

#top-footer{
  color: white;
  margin-top: 1.2vw;
  margin-right: 2vw;
}

#button-js-footer{
  border: none;
  color: white;
  background-color: #3C3C3A;
  font-size: 15px;
  opacity: 0.6;
}

#button-js-footer:hover{
 opacity: 1;
}
