#list-subjects{
  margin-top: 1vw;
  margin-left: 12vw;
  margin-bottom: -3vw;
  font-size: 15px;
}

.line-subjects{
  margin-top: 1vw;
  margin-left: -15vw;
  width: 30vw;
  border-bottom: 5px solid #e3e4e5;
}

#button-js{
  background-color: white;
  border: none;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
}

#list-title{
  margin-left: 10vw;
}

#list-title:hover{
  font-size: 30pt;
}

.line-subjects:hover{
  border-bottom: 5px solid #fcffa5;
}
