#articles{
  margin-top: 4vw;
  margin-left: 1vw;
  margin-right: 10vw;
}

#article-title-block{
  background-color: #e3e4e5;
  height: 7vw;
}

#article-title{
  padding: 2vw;
  font-size: 35px;
}

#article-text{
  margin-top: 1vw;
  margin-right: 10vw;
  margin-left: 2vw;
}

#article-individual-block{
  margin-left: 4vw;
  margin-bottom: 20vw;
}

#article-1-image{
  margin-top: -6vw;
  margin-left: -37vw;
  height: 30vw;
  width: 45vw;
}

#article-1-text{
  margin-top: 25vw;
  margin-left: -30vw;
  width: 22vw;

}

#title-article-1{
  transform: rotate(-90deg);
  margin-top: -95vw;
  margin-left: -90vw;
}

#article-white-title{
  color: white;
}

#article-2-image{
  margin-top: -22vw;
  margin-left: 35vw;
  height: 38vw;
  width: 40vw;
}

#article-2-text{
  color: white;
  margin-top: 2.5vw;
  margin-left: 13vw;
  margin-right: 20vw;
}

#title-article-2{
  margin-top: 101vw;
  margin-left: 32vw;
}

#article-dark-block{
  margin-top: 8vw;
  margin-left: 36vw;
  width: 60vw;
  height: 35vw;
  background-color: #3C3C3A;
  display: flex;
}
