#contact{
  margin-top: -10vw;
  margin-left: 2vw;
  margin-right: 10vw;
  margin-bottom: 6vw;
}

#contact-title-block{
  background-color: #e3e4e5;
  height: 7vw;
}

#contact-title{
  padding: 2vw;
  font-size: 35px;
}

#contact-text{
  margin-top: 1vw;
  margin-right: 10vw;
  margin-left: 2vw;
}



